In [1]:
import pandas as pd
import numpy as np

In [3]:
nino34_df = pd.read_excel('PALMOIL_NINO.xlsx', sheet_name = 'Nino3.4')

In [4]:
nino34_df.head()

,Unnamed: 0,1,2,3,4,5,6,7,8,9,10,11,12
0,1950,24.55,25.06,25.87,26.28,26.18,26.46,26.29,25.88,25.74,25.69,25.47,25.29
1,1951,25.24,25.71,26.90,27.58,27.92,27.73,27.60,27.02,27.23,27.20,27.25,26.91
2,1952,26.67,26.74,27.17,27.80,27.79,27.18,26.53,26.30,26.36,26.26,25.92,26.21
3,1953,26.74,27.00,27.57,28.04,28.28,28.12,27.43,26.94,27.01,26.87,26.88,27.00
4,1954,26.98,27.03,26.90,26.64,27.12,26.80,26.11,25.43,25.12,25.23,25.57,25.26

In [5]:
nino34_df.index = nino34_df['Unnamed: 0']
del nino34_df['Unnamed: 0']

In [6]:
nino34_df.head()

,1,2,3,4,5,6,7,8,9,10,11,12
Unnamed: 0,,,,,,,,,,,,
1950,24.55,25.06,25.87,26.28,26.18,26.46,26.29,25.88,25.74,25.69,25.47,25.29
1951,25.24,25.71,26.90,27.58,27.92,27.73,27.60,27.02,27.23,27.20,27.25,26.91
1952,26.67,26.74,27.17,27.80,27.79,27.18,26.53,26.30,26.36,26.26,25.92,26.21
1953,26.74,27.00,27.57,28.04,28.28,28.12,27.43,26.94,27.01,26.87,26.88,27.00
1954,26.98,27.03,26.90,26.64,27.12,26.80,26.11,25.43,25.12,25.23,25.57,25.26